:root {

  --MyDisplayName: "Ian Logendra";

  /*
  Can't pass variables into media queries so these can't be used
  --MobileWidth: 786px;
  --PCWidth: 1240px; */

  --MobileWorkColumns: 1;
  --TabletWorkColumns: 1;
  --PCWorkColumns: 2;

  --bgcolour: white;

  --HeaderBGColour: rgb(44, 44, 44);
  --HeaderMyNameColour: rgb(44, 44, 44);
  --HeaderMyNameBGColour: rgb(80, 105, 113);
  --HeaderNavAColour: rgb(163, 196, 238);

  --MainPageTextColour: rgb(32, 91, 111);

  --HeroBannerBGColour: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*create media queries to target different viewports */

/*mobile size */

@media screen and (max-width:786px) {

  main,
  nav {
    flex-direction: column;
  }

  header {
    background-color: aqua;
  }

}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0%;
  background-color: var(--HeaderBGColour);
  padding-bottom: .5%;
  padding-top: .25%;

}


h1 {

  color: var(--HeaderMyNameColour);
  background-color: var(--HeaderMyNameBGColour);
  padding-left: 1%;
  padding-right: 1%;
  font: bold;
  width: 250px;
  height: 56.5px;
}

h2 {
  align-items: center;
  justify-content: center;
  padding: .5%;
}

nav {
  width: 400px;
}

nav ul {

  display: flex;
  justify-content: space-between;
  /* min-width: 400px; */
  padding-right: 5%;
  list-style-type: none;
  align-self: flex-end;
}

nav a {
  color: var(--HeaderNavAColour);
  font-size: medium;
  font-weight: bold;
  text-decoration: underline solid;
  text-decoration-thickness: 20%;

}

nav a:hover {
  color: #fff;
}

.navlinks {
  height: 56.6px;
  margin-left: auto;
}

.hero-banner {
  background-color: Var(--HeroBannerBGColour);
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/02-hero-bg.jpg");

}

.hero-banner h2 {
  display: flex;
  background-color: var(--HeaderMyNameBGColour);
  color: var(--HeaderMyNameColour);
  padding-left: 50px;
  padding-right: 10px;
  font: bold;

}





.page-wrapper {
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 20% 80%;
  color: var(--MainPageTextColour);



}

.page-wrapper h2 {
  font-size: 300%;
  text-align: right;
  padding-right: 5%;


}

.page-section {
  padding: 15px;
}


.page-section h3 {
  font-size: 150%;
  font-weight: 300;
  margin: 0px 0px;

}

.page-section h6 {

  font-size: 75%;
  font-weight: 300;
  margin: 0px 0px;
  border-color: black;
  border-width: 10px;
}

#about {
  /* display: grid;   */
  /* background-color: yellow; */


}

#about-grid {

  min-width: 100px;
  margin: 0 5px;
  /* min-height: 20vh; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-image: url("../images/02-portfolio-4.jpg");


}

#work {
  /* background-color: red; */

}

#work-grid {
  min-height: 100px;
  margin: 0px 5pt;
  height: 70vh;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "Surf Surf"
    "LED Calc"
    "Pastel Run";

}

#SurfReport {
  grid-area: Surf;
  background-image: url("../images/02-portfolio-4.jpg");
  cursor: pointer;
}

#LEDWall {
  grid: LED;
  background-image: url("../images/02-portfolio-1.jpg");
  cursor: pointer;
}

#Calculator {
  grid: Calc;
  background-image: url("../images/02-portfolio-2.jpg");
  cursor: pointer;

}

#PastelPuzzles {
  grid: Pastel;
  background-image: url("../images/02-portfolio-3.jpg");
  cursor: pointer;
}

#RunBuddy {
  grid: Run;
  background-image: url("../images/02-run-buddy.jpg");
  cursor: pointer;
}



#contact {

  /* background-color: greenyellow; */

}

#contactdetails ul {
  display: flex;
  justify-content: space-around;

  min-width: 400px;
  list-style-type: none;
}

#contactdetails a {


  font-size: medium;
  font-weight: bold;
  text-decoration: underline solid;
  text-decoration-thickness: 10%;
}


#TitleBox {
  /* display: flex; */

  /* background-color: aqua; */
}